* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body {
    width: 100vw;
    height: 100vh;
    background-image: url("Image/Desert1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* Title for webpage */
header {   
    position: relative;
    top: 3%;
    font-family: 'Press Start 2P', cursive;
    color: rgb(192, 255, 218);
    font-size: 1em;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(74, 74, 74);  
}
header:hover {
    color: aqua;
}

/* Control for Kangaroo */
.knagaroo {    
    content: url("Image/Kangaroo.png");
    position: relative;
    width: 5%;
    height: auto;
    top: -10vh;
    left: -2.5%;
    z-index: 1;
    pointer-events: auto;

}

/* #region Hover to Appear for House Icon */
.TextPond {
    max-width: 30vw;
    width: 70%;
    height: auto;
    position: relative;
    left: 260%;
    top: 40%;
    pointer-events: none;
}
#TextContainerPond {
    display: none;
    width: 30%;
    height: auto;
  }
#Hover01:hover~#TextContainerPond {
  display: block;
}
/* #endregion */

/* #region Hover to Appear for Sign Icon */
.TextSign {
    max-width: 30vw;
    width: 70%;
    height: auto;
    position: relative;
    left: 130%;
    top: -300px;
    pointer-events: none;
}
#TextContainerSign {
    display: none;
    width: 30%;
    height: auto;
  }
#Hover02:hover~#TextContainerSign {
  display: block;
}
/* #endregion */

/* #region Hover to Appear for House Icon */
.TextHouse {
    max-width: 30vw;
    width: 70%;
    height: auto;
    position: relative;
    left: 90%;
    top: 60%;
    pointer-events: none;
}
#TextContainerHouse {
    display: none;
    width: 30%;
    height: auto;
  }
#Hover03:hover~#TextContainerHouse {
  display: block;
}
/* #endregion */

/* #region Hover to Appear for Well Icon */
.TextWell {
    max-width: 30vw;
    width: 70%;
    height: auto;
    position: relative;
    left: 220%;
    top: -270px;
    pointer-events: none;
}
#TextContainerWell {
    display: none;
    width: 30%;
    height: auto;
  }
#Hover04:hover~#TextContainerWell {
  display: block;
}
/* #endregion */

/* #region Control for Title Locations */
    .Pond {
        max-width: 22vw;
        width: 30%;
        height: auto;
        position: relative;
        left: 68%;
        top: 45%;
    }
    .Signs {
        max-width: 15vw;
        width: 15%;
        height: auto;
        position: relative;
        left: 7%;
        top: -10%;
    }
    .House {
        max-width: 27vw;
        width: 30%;
        height: auto;
        position: relative;
        left: -27%;
        top: 45%;
    }
    .Well {
        max-width: 20vw;
        width: 30%;
        height: auto;
        position: relative;
        left: 15%;
        top: -25%;
    }
/* #endregion */