* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("Image/Desert1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* Title for webpage */
header {   
  position: relative;
  top: 3%;
  font-family: 'Press Start 2P', cursive;
  color: rgb(192, 255, 218);
  font-size: 1em;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(74, 74, 74);  
}
header:hover {
  color: aqua;
}

/* #region Kangaroo Interface Control */
.knagaroo {    
  content: url("Image/Kangaroo.png");
  position: absolute;
  width: 5%;
  height: auto;
  pointer-events: none; 
  z-index: 9999;
}
.cursor-proxy {
  position: absolute;
  width: 20px;
  height: 20px;
  background: transparent;
  pointer-events: none;
  z-index: 9998;
}
/* Add hover effects that will be triggered by JavaScript */
.force-hover {
  filter: brightness(1.2); 
}
/* #endregion */

/* #region Hover to Appear for Pond Icon */
.TextPond {
  max-width: 20vw;
  width: 70%;
  height: auto;
  position: relative;
  left: 260%;
  top: -30px;
  pointer-events: none;
}
#TextContainerPond {
  display: none;
  width: 30%;
  height: auto;
}
#Hover01:hover~#TextContainerPond {
display: block;
}
/* #endregion */

/* #region Hover to Appear for Sign Icon */
.TextSign {
  max-width: 30vw;
  width: 70%;
  height: auto;
  position: relative;
  left: 125%;
  top: -250px;
  pointer-events: none;
}
#TextContainerSign {
  display: none;
  width: 30%;
  height: auto;
}
#Hover02:hover~#TextContainerSign {
display: block;
}
/* #endregion */

/* #region Hover to Appear for House Icon */
.TextHouse {
  max-width: 30vw;
  width: 70%;
  height: auto;
  position: relative;
  left: 90%;
  top: 60%;
  pointer-events: none;
}
#TextContainerHouse {
  display: none;
  width: 30%;
  height: auto;
}
#Hover03:hover~#TextContainerHouse {
display: block;
}
/* #endregion */

/* #region Hover to Appear for Well Icon */
.TextWell {
  max-width: 30vw;
  width: 70%;
  height: auto;
  position: relative;
  left: 210%;
  top: -220px;
  pointer-events: none;
}
#TextContainerWell {
  display: none;
  width: 30%;
  height: auto;
}
#Hover04:hover~#TextContainerWell {
display: block;
}
/* #endregion */

/* #region Control for Title Locations */
  #Pond {
      max-width: 22vw;
      width: 30%;
      height: auto;
      position: relative;
      left: 65%;
      top: 45%;
  }
  #Signs {
      max-width: 15vw;
      width: 15%;
      height: auto;
      position: relative;
      left: 5%;
      top: 0%;
  }
  #House {
      max-width: 27vw;
      width: 30%;
      height: auto;
      position: relative;
      left: -27%;
      top: 55%;
  }
  #Well {
      max-width: 20vw;
      width: 30%;
      height: auto;
      position: relative;
      left: 13%;
      top: -15%;
  }
/* #endregion */