#OldMan {
    position: relative;
    left: 40%;
}

#Home {
    position: relative;
    top: 10%;
    left: 0%;
    display: block; 
}

a {
    text-decoration: none; /* Remove underline */
    color: inherit; 
}

#bg-grad {
    background-image: linear-gradient(115deg, #745fff, #ffffff, #ff7e5f);
    width: 100vw;
    height: 100vh;
    background-size: 400% 400%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    animation: 10s gradMove alternate-reverse infinite;
    }
    @keyframes gradMove {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
    }

 body {
     font-family: 'Press Start 2P', cursive;
     color: #e0e0e0;
 }

.WellConversation {
    text-align: left;
    background: rgb(2,0,36);
    /* Gradient from https://cssgradient.io/ */
    background: linear-gradient(338deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 39%, rgba(5,92,176,1) 61%, rgba(0,180,255,1) 89%);
    padding: 20px;
    border-radius: 10px;
    border: 5px solid #ffffff;
    outline: 5px solid black;
    text-shadow: 2px 2px 0 #000;
}

h1 {
    opacity: 1;
    color: #e0e0e0;
    font-size: 1.5rem;
    text-shadow: 2px 2px 0 #000;
}

.dialogueOptions {
    margin-top: 20px;
}

button {
    font-family: 'Press Start 2P', cursive;
    background-color: #575757;
    color: #e0e0e0;
    border: 2px solid #e3e3e3;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 0; 
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 2px 2px 0 #000;
    margin-left: 13px;
}

button:hover {
    background-color: #ffed4f;
    color: black;
}

.npc-response {
    margin-left: 13px;
    margin-top: 20px;
    padding: 10px;
    background-color: #575757;
    border: 2px solid #e3e3e3; 
    border-radius: 0; 
    color: #e0e0e0;
    font-style: italic;
    display: none; 
    box-shadow: 2px 2px 0 #000;
    font-size: 0.9rem;
    line-height: 1.5; 
}

